<div class="row">

<div class="col-md-4 mx-auto">
    <div class="card">
        <img src="software.jpg" alt="prueba" class="card-img-top">
        <div class="card-body">
            <h2>100 $</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque perferendis quaerat in quam, iusto officiis.
            </p>
        </div>
        <div class="card-footer">
            <form action="/purchase" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js " class ="stripe-button"
    data-key="pk_test_51MdbJ2EtUNHvhpURhyFBGilXoVPoC5IId94cXyNDh06JbXiNWZjBfji6NaNOtAT8gfr2AqpiW8wgsV9hcCq1Snej00En79WeIM"
    data-amount="999"
    data-name="Demo Site"
    data-description="Widget"
    data-image="htttps://stripe.com/img/documentacion/checkout/marketplace.png"
    data-locale="auto">
    </script>
</form>
            <button class="btn btn-dark btn-block">
                Buy <i class="fas fa-shopping-cart">
                    
                </i>
            </button>
            
        </div>
    </div>
</div>
</div>